@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /* colors */
    --clr-black: 240, 5%, 11%;
    --clr-gray: 240, 1%, 31%;
    --clr-dark-red: 348, 53%, 28%;
    --clr-dark-pink: 348, 53%, 28%;
    --clr-light-red: 342, 93%, 40%;

    /* font-sizes */
    --fs-700: 14.375rem;
    --fs-600: 10rem;
    --fs-575: 5.625rem;
    --fs-550: 5rem;
    --fs-500: 2.5rem;
    --fs-450: 2.25rem;
    --fs-400: 1.875rem;
    --fs-300: 1.687rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;

    /* font-families */
    --ff-bebas: 'Bebas Neue', cursive;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
section,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
}

/* set up the body */
body {
    font-family: var(--ff-bebas);
    min-height: 100vh;
    background-color: hsl(var(--clr-black));
    color: white;
    text-transform: uppercase;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* colors */

.text-black { color: hsl(var(--clr-black)); }
.text-gray { color: hsl(var(--clr-gray)); }
.text-dark-red { color: hsl(var(--clr-dark-red)); }
.text-light-red { color: hsl(var(--clr-light-red)); }
.text-dark-pink { color: hsl(var(--clr-dark-pink)); }

/* typography */

.uppercase { text-transform: uppercase; }

.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-575 { font-size: var(--fs-575); }
.fs-550 { font-size: var(--fs-550); }
.fs-500 { font-size: var(--fs-500); }
.fs-450 { font-size: var(--fs-450); }
.fs-400 { font-size: var(--fs-400); }
.fs-375 { font-size: var(--fs-375); }
.fs-350 { font-size: var(--fs-350); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }


/* components */

.flex {
    display: flex;
}

header{
    justify-content: space-between;
    padding: 1.5em 1em;
}

.mobile-name {
    order: 1;
    font-size: var(--fs-300);
}

.top-nav {
    
}

.top-nav-ul {
    list-style: none;
    flex-direction: column;
    margin: 0;
}

.intro {
    height: 50vh;
    padding: 5em 1em;
}


/* not enough room for this on mobile*/
.left {
    display: none;
}

/* not enough room for this on mobile*/
.right {
    display: none;
}

.left ul {
    list-style: none;
}

/* mobile hamburger icon */

#hamburger{
    display:flex;
    flex-direction:column;
    width:50px;
    cursor:pointer;
    align-items: flex-end;
    background-color: inherit;
    order: 2;
    border: none;
    padding: 0;
    z-index: 100;
}
   
#hamburger span{
    background: #fff;
    height:4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
   
.bar1{
    width:50%;
}

.bar2{
    width:100%;
}

.bar3{
    width:75%;
}

.bar1Animate{
    transform-origin:bottom;
    transform:rotatez(-45deg) translate(-3px,-1px)
}


.bar2Animate{
    transform-origin:top;
    transform:rotatez(45deg)
}


.bar3Animate{
    transform-origin:bottom;
    width:55%;
    transform: translate(-21px, -5px) rotatez(-45deg);
}

/* mobile menu */

#overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#overlay.open {
    width: 55%;
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 20%;
padding: 0;
}

#overlay li {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #fff;
display: block;
transition: 0.3s;
}

#overlay li:nth-child(2){
    display: none;
}

#overlay li:hover, 
#overlay li:focus {
color: #C3073F;
}

#overlay .innerham {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

.is-blurred{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.mobile-name {
    z-index: 100;
}
  
   